<!-- config-form.component.html -->
<mat-card id="guild-settings">
    <mat-card-title>Guild Configuration</mat-card-title>
    <mat-card-content>
        <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Main Channel</mat-label>
                <mat-select formControlName="mainChannelId">
                    <mat-option *ngFor="let channel of textChannels" [value]="channel.channelId">
                        {{ channel.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="configForm.get('mainChannelId')?.hasError('required')">
                    Main Channel is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Roles Channel</mat-label>
                <mat-select formControlName="rolesChannelId">
                    <mat-option *ngFor="let channel of textChannels" [value]="channel.channelId">
                        {{ channel.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="configForm.get('rolesChannelId')?.hasError('required')">
                    Roles Channel is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Events Group</mat-label>
                <mat-select formControlName="eventsGroupId">
                    <mat-option *ngFor="let channel of groupChannels" [value]="channel.channelId">
                        {{ channel.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="configForm.get('eventsGroupId')?.hasError('required')">
                    Events Group is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Music Roles</mat-label>
                <mat-select formControlName="djRoles" multiple>
                    <mat-option *ngFor="let role of guildRoles" [value]="role.id">
                        {{ role.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Bot Usage Roles</mat-label>
                <mat-select formControlName="RBACRoles" multiple>
                    <mat-option *ngFor="let role of guildRoles" [value]="role.id">
                        {{ role.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!configForm.valid">
                Save Configuration
            </button>
        </form>
    </mat-card-content>
</mat-card>
