#guild-settings {
    mat-card-title {
        padding: 1rem 0;
        font-size: x-large;
        margin: auto;
    }

    mat-card-content {

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
        }

        mat-form-field {
            width: 30%;
        }
    }
}
