<div class="overview-container" id="messages-per-day-chart">
    <div class="filter-buttons">
        <button (click)="updateTimeFilter('week')">Week</button>
        <button (click)="updateTimeFilter('month')">Month</button>
        <button (click)="updateTimeFilter('year')">Year</button>
    </div>
    <apx-chart
        [series]="chartOptions?.series || []"
        [chart]="chartOptions?.chart || {}"
        [xaxis]="chartOptions?.xaxis || {}"
        [yaxis]="chartOptions?.yaxis || {}"
        [dataLabels]="chartOptions?.dataLabels || {}"
        [title]="chartOptions?.title || {}"
        [tooltip]="chartOptions?.tooltip || {}">
    </apx-chart>
</div>
