app-sidebar {
    min-height: 100vh;
}

.apexcharts-tooltip {
    background: #000 !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
