<div class="chart-container">
    <apx-chart
        [series]="chartOptions?.series"
        [chart]="chartOptions?.chart"
        [title]="chartOptions?.title"
        [legend]="chartOptions?.legend"
        [labels]="chartOptions?.labels"
        [dataLabels]="chartOptions?.dataLabels"
    >
    </apx-chart>
</div>

<div class="table-container">
    <h2>Top 10 Users by Voice Activity</h2>
    <table>
        <thead>
        <tr>
            <th>User Name</th>
            <th>Total Hours</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of topUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.hours.toFixed(2) }}</td>
        </tr>
        </tbody>
    </table>
</div>
