<div class="chart-container">
    <apx-chart
        [series]="chartOptions?.series || []"
        [chart]="chartOptions?.chart || {}"
        [dataLabels]="chartOptions?.dataLabels || {}"
        [title]="chartOptions?.title || {}"
        [legend]="chartOptions?.legend || {}"
        [plotOptions]="chartOptions?.plotOptions || {}"
        [labels]="chartOptions?.labels || []"
    >
    </apx-chart>
</div>

<div class="table-container">
    <h2>Top 10 Voice Channels</h2>
    <table>
        <thead>
        <tr>
            <th>Channel Name</th>
            <th>Total Hours</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let channel of topChannels" class="voice-per-channel-tr">
            <td>{{ channel.name }}</td>
            <td>{{ channel.hours.toFixed(2) }}</td>
        </tr>
        </tbody>
    </table>
</div>
