<div class="chart-container">
    <apx-chart
        [series]="chartOptions?.series || []"
        [chart]="chartOptions?.chart || {}"
        [dataLabels]="chartOptions?.dataLabels || {}"
        [title]="chartOptions?.title || {}"
        [legend]="chartOptions?.legend || {}"
        [plotOptions]="chartOptions?.plotOptions || {}"
        [labels]="chartOptions?.labels || []">
    </apx-chart>
</div>

<div class="table-container">
    <h2>Top 10 Users</h2>
    <table>
        <thead>
        <tr>
            <th>User Name</th>
            <th>Message Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of topUsers" class="messages-per-user-tr">
            <td>{{ user.name }}</td>
            <td>{{ user.count }}</td>
        </tr>
        </tbody>
    </table>
</div>
