@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

$primary-color: #202328;
$secondary-color: #3691d1;

// Define your custom palette
$primary-palette: (
    50: lighten($primary-color, 40%),
    100: lighten($primary-color, 30%),
    200: lighten($primary-color, 20%),
    300: lighten($primary-color, 10%),
    400: lighten($primary-color, 5%),
    500: $primary-color,
    600: darken($primary-color, 5%),
    700: darken($primary-color, 10%),
    800: darken($primary-color, 20%),
    900: darken($primary-color, 30%),
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);

$secondary-palette: (
    50: lighten($secondary-color, 40%),
    100: lighten($secondary-color, 30%),
    200: lighten($secondary-color, 20%),
    300: lighten($secondary-color, 10%),
    400: lighten($secondary-color, 5%),
    500: $secondary-color,
    600: darken($secondary-color, 5%),
    700: darken($secondary-color, 10%),
    800: darken($secondary-color, 20%),
    900: darken($secondary-color, 30%),
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);

// Define your custom theme
$custom-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette($primary-palette),
            accent: mat.define-palette($secondary-palette),
            warn: mat.define-palette(mat.$red-palette),
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

// Apply the dark theme by default
@include mat.all-component-themes($custom-theme);

// Global styles
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family:Arial, 'Helvetica Neue', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-navbar {
    font-family: "Arial", "Helvetica Neue", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px; // Adjust this value based on your navbar height
    z-index: 1000;
}
// TODO - Check the navbar height and adjust the top value accordingly
app-sidebar {
    position: fixed;
    top: 64px; // Should match the navbar height
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto; // Allow scrolling if sidebar content is too long
}
