:host {
    --navbar-height: 6vh;
    display: block;
    height: var(--navbar-height);
}

.spacer {
    flex: 1 1 auto;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left button {
    margin-right: 8px;
}
