$statistics-background-color: #202328;
$statistics-border-radius: 10px;

#messages-charts-wrapper{
    display: flex;
    height: 100vh;
    margin: auto;
    width: 80%;
    flex-direction: column;
    justify-content: center;

    app-messages-per-channel {
        margin: 2rem 0;
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #202328;
        border-radius: 10px;
    }
    app-messages-per-day {
        padding: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        background-color: $statistics-background-color;
        border-radius: $statistics-border-radius;
    }
}
